<section class="app" (click)="handleMouseClick($event)">
  <h1>Angular Animation with custom parameters</h1>
  <div class="features">
    <h3>Features:</h3>
    <ul class="features">
      <li class="feature">Display a fancy box and a normal input</li>
      <li class="feature">Move box into mouse position when click</li>
      <li class="feature">
        Custom the speed of the transition with input, the number is in ms
      </li>
    </ul>
  </div>
  <input type="number" min="0" [(ngModel)]="animationSpeed" />
  <span class="speed" *ngIf="animationSpeed">
    Current animation speed is {{ animationSpeed }}ms
  </span>
  <div id="box" #box [style.transition-duration]="animationSpeed + 'ms'"></div>
</section>
